$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
$padding-base: 12px;
// color
$success-color: rgba(76, 175, 80, .9);
$danger-color: rgba(244, 67, 54, .8);
$default-color: rgba(0, 0, 0, .8);
$text-color: #fff;
$border-radius: 0px;

.an-container {
    position: fixed;
    z-index: 99999;
    > div {
        position: relative;
        clear: both;
        overflow: hidden;
        height: auto;
        box-sizing: border-box;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        //-------------------------------
        transition: .2s all cubic-bezier(0.4, 0.1, 0.2, 1);
        & {
            color: $text-color;
            background: $default-color;
        }
        &.an-default {
            background: $default-color;
        }
        &.an-error {
            background: $danger-color;
        }
        &.an-success {
            background: $success-color;
        }
    }
}

// animation related
.an-container {
    > div {
        &,
        &.an-hide {
            max-height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            pointer-events: none;
        }
        &.an-show {
            max-height: none;
            padding: $padding-base $padding-base * 2;
            opacity: 1;
            pointer-events: auto;
        }
    }
    &.an-top {
        top: $padding-base * 2;
        > div {
            &.an-show {
                margin-bottom: $padding-base;
            }
        }
    }
    &.an-middle {
        top: 50%;
        transform: translateY(-50%);
        > div {
            &.an-show {
                margin: $padding-base / 2 0;
            }
        }
    }
    &.an-bottom {
        bottom: $padding-base * 2;
        > div {
            &.an-show {
                margin-top: $padding-base;
            }
        }
    }
    &.an-top,
    &.an-middle,
    &.an-bottom {
        &:not(.an-left):not(.an-right) {
            left: 50%;
            transform: translateX(-50%);
            &:not(.an-center) {
                width: 80%;
            }
            > div {
                text-align: center;
                &,
                &.an-hide {
                    transform: scale(0.01);
                }
                &.an-show {
                    transform: scale(1);
                }
            }
        }
    }
    // All left positions.
    &.an-left {
        left: $padding-base * 2;
        > div {
            float: left;
            &,
            &.an-hide {
                transform: translateX(-200%) scale(0.01);
            }
            &.an-show {
                transform: translateX(0) scale(1);
            }
        }
    }
    &.an-center {
        left: 50%;
        transform: translateX(-50%);
        > div {
            float: left;
            text-align: center;
        }
    }
    &.an-right {
        right: $padding-base * 2;
        > div {
            float: right;
            &,
            &.an-hide {
                transform: translateX(200%) scale(0.01);
            }
            &.an-show {
                transform: translateX(0) scale(1);
            }
        }
    }
}
