$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
$padding-base: 12px;
// color
$success-color: rgba(76, 175, 80, .9);
$danger-color: rgba(244, 67, 54, .8);
$default-color: rgba(0, 0, 0, .8);
$text-color: #fff;
$border-radius: 0px;
.an-container {
    position: absolute;
    z-index: 99999;
    > div {
        position: relative;
        clear: both;
        overflow: hidden;
        height: auto;
        box-sizing: border-box;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        //-------------------------------
        transition: .2s all cubic-bezier(0.4, 0.1, 0.2, 1);
        & {
            color: $text-color;
            background: $default-color;
        }
        &.default {
            background: $default-color;
        }
        &.error {
            background: $danger-color;
        }
        &.success {
            background: $success-color;
        }
    }
}

// animation related
.an-container {
    > div {
        &,
        &.hide {
            max-height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            pointer-events: none;
        }
        &.show {
            max-height: none;
            padding: $padding-base $padding-base * 2;
            opacity: 1;
            pointer-events: auto;
        }
    }
    &.top {
        top: $padding-base * 2;
        > div {
            &.show {
                margin-bottom: $padding-base;
            }
        }
    }
    &.middle {
        top: 50%;
        transform: translateY(-50%);
        > div {
            &.show {
                margin: $padding-base / 2 0;
            }
        }
    }
    &.bottom {
        bottom: $padding-base * 2;
        > div {
            &.show {
                margin-top: $padding-base;
            }
        }
    }
    &.top,
    &.middle,
    &.bottom {
        &:not(.left):not(.right) {
            left: 50%;
            transform: translateX(-50%);
            &:not(.center) {
                width: 80%;
            }
            > div {
                text-align: center;
                &,
                &.hide {
                    transform: scale(0.01);
                }
                &.show {
                    transform: scale(1);
                }
            }
        }
    }
    // All left positions.
    &.left {
        left: $padding-base * 2;
        > div {
            float: left;
            &,
            &.hide {
                transform: translateX(-200%) scale(0.01);
            }
            &.show {
                transform: translateX(0) scale(1);
            }
        }
    }
    &.center {
        left: 50%;
        transform: translateX(-50%);
        > div {
            float: left;
            text-align: center;
        }
    }
    &.right {
        right: $padding-base * 2;
        > div {
            float: right;
            &,
            &.hide {
                transform: translateX(200%) scale(0.01);
            }
            &.show {
                transform: translateX(0) scale(1);
            }
        }
    }
}
